@import './helpers.scss';

.home-layout {
  @include flexbox(column, flex-start, center);
  margin-top: 75px;
  width: 98.6vw;
  background-color: rgb(240, 240, 240);
}
.home-bg-container {
  height: calc(100vh - 100px)
}

.items-container {
  display: grid;
  width: 100%;
}


